<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-gallery">
    <img *ngFor="let image of images" [src]="image.data" (click)="setSelectedImage(image)">
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center" *ngIf="!selectedImage">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [canDismiss]="modalCanClose" (willPresent)="initMarkerJs()">
    <ng-template>
      <ion-content>
        <div class="imageEditor" #target>
          <img [src]="selectedImage?.data" #img>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>